@charset "utf-8";

/* Common */
.summary__title {
    /* 명시도 점수 상 적용이 불가하므로
    모바일에서 폰트를 조절하기 위해 !imporant 명시를 활용 */
    font-size: 34px !important;
}
.summary__description {
    font-size: 22px;
}


/* Feature Section */
.section--feature .tiles li {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-right: none;
}


/* Where-is Section */
#map {
    /* ex) width % 의 경우 부모의 요소에 영향을 받으므로 주의할 것 */
    width: auto;
    margin: 40px -20px 0;
    border-left: none;
    border-right: none;
}

/* Pricing Section */
.section--pricing .card {
    display: block;
}
.section--pricing .card .cell2 {
    border-left: none;
    font-size: 20px;
    border-top: 1px solid #e5e5e5;    
}


/* Footer */
footer .site-links {
    float: none;
    display: block;
    text-align: center;

}
footer .site-links:first-child {
    margin-bottom: 20px;
}
footer .site-links li {
    display: inline;
}